
@font-face {
    font-family: 'neristhin';
    src: url('fonts/Neris-Thin-webfont.eot');
    src: url('fonts/Neris-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Neris-Thin-webfont.woff') format('woff'),
         url('fonts/Neris-Thin-webfont.ttf') format('truetype'),
         url('fonts/Neris-Thin-webfont.svg#neristhin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #98B1B5;
    font-family: 'neristhin', monospace;
    text-align: center;
    background-color: #272D39;
    /*text-shadow: 0px -1px 0px #27ACB5;*/
}

h1, h2, h3 {
    color: #82A3AA;
    font-weight: normal;
}